<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create - Find</title>
</head>
<body>
  <h1> Input Data Konsultasi</h1>
  <form action="/konsultasi/form_create" method="POST">
    <input type="text" placeholder="Id Konsultasi" name="id_konsultasi"><br><br>
    <input type="text" placeholder="Id Pasien" name="pasien"><br><br>
    <input type="text" placeholder="Id Dokter" name="dokter"><br><br>
    <input type="date" value="2020-07-02" name="tanggal">
    <h4>Waktu Mulai</h4>
    <input type="time"  name="jam_mulai">
    <h4>Waktu Selesai</h4>
    <input type="time"  name="jam_selesai">

    <h4> Diskusi</h4>
    <input type="text" placeholder="Urutan" name="urutan"><br><br>
    <input type="text" placeholder="Pengirim" name="pengirim"><br><br>
    <textarea type="text" placeholder="Detail" name="detail"></textarea><br><br>
    <input type="text" placeholder="Status" name="status"><br><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>