<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Konsultasi | Create</title>
  </head>
<body>
  <br>
  <div class="container border">
    <hr><h1 class="text-center">Data Konsultasi</h1><hr>
    <form action="/konsultasi/form_create" method="POST">
      <div class="form-group col-md-6 offset-md-3">
        <label>Pasien</label>
        <select class="form-control" id="pasien" name="id_pasien" required>
          <option value=""></option>
          <% for(var i = 0; i < hasil1.length; i++) { %>
            <option value="<%= hasil1[i].username %>">
              <%= hasil1[i].name %>
            </option>
          <% } %>
        </select>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Dokter</label>
        <select class="form-control" id="dokter" name="id_dokter" required>
          <option value=""></option>
          <% for(var i = 0; i < hasil2.length; i++) { %>
            <option value="<%= hasil2[i].username %>">
              <%= hasil2[i].name %>
            </option>
          <% } %>
        </select>
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Date</label>
        <input type="date" class="form-control" name="tanggal">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Waktu Mulai</label>
        <input type="time" class="form-control" name="jam_mulai">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Waktu Selesai</label>
        <input type="time" class="form-control" name="jam_selesai">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Status</label>
        <select class="form-control" id="status" name="status" required>
          <option value=""></option>
          <option value="Selesai">Selesai</option>
          <option value="Belum Selesai">Belum Selesai</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary col-md-2 offset-md-5">Simpan</button>
      <hr>
    </form>
  </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</html>