<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Pasien | Menu</title>
  </head>
<body>
  <br>
  <div class="container border">
    <hr><h1 class="text-center">Menu Pasien</h1><hr>
      <a href=/pasien/request><button type="button" class="btn btn-success col-md-4 offset-md-4">Request Konsultasi</button></a>
      <hr class="col-md-2 offset-md-5">
      <a href=/pasien/konsul><button type="button" class="btn btn-info col-md-4 offset-md-4">Konsultasi</button></a>
      <hr class="col-md-2 offset-md-5">
      <a href=/pasien/payment><button type="button" class="btn btn-warning col-md-4 offset-md-4">Pembayaran Konsultasi</button></a>
      <hr class="col-md-2 offset-md-5">
      <a href=/pasien/data><button type="button" class="btn btn-secondary col-md-4 offset-md-4">Status Akun</button></a>
      <hr class="col-md-2 offset-md-5">
      <a href=/pasien/logout><button type="button" class="btn btn-danger col-md-4 offset-md-4">Keluar</button></a>
    <hr>
  </div>
</body>
</html>