<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap Core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <title>Pasien | Konsultasi</title>
</head>
<body>
    <br>
    <div class="container border">
        <hr><h1 class="text-center">Accept Konsultasi</h1><hr>
        <div class="table">
            <table id="tabel" class="display" style="width: 100%;">
              <thead>
                <tr>
                    <th>ID Konsultasi</th>
                    <th>Pasien</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</body>
<script>
  $(document).ready(function () {
     $('#tabel').DataTable({
          "processing": true,
          "serverSide": false,
          "ajax": {
              "data": "json",
              "type": "GET",
              "url": "/dokter/accept/proses",
              dataSrc:""
          },
              "columns":
                  [
                      { "data": "id_konsultasi" },
                      { "data": "data_pasien[1].name" },
                      {
                        "data": null,
                        "bSortable": false,
                        "mRender": function (data, type, row) { 
                            return  '<a href=/dokter/accept/proses/' + row.id_konsultasi + '><button type="button" class="btn btn-primary">' + 'Terima Konsul' + '</button></a>'
                        }
                      }
                  ],
                    'columnDefs': [
                        {
                            "targets": 2, // your case first column
                            "className": "text-center"
                        }
                    ]
      });
  });
</script>
</html>