<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap Core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <title>Dokter - Data</title>
</head>
<body>
    <br>
    <div class="container border">
        <hr><h1 class="text-center">Data Dokter</h1><hr>
        <a class="btn btn-success col-md-2 offset-md-5" href="/dokter/write" role="button">Tambah Dokter</a>
        <hr>
        <div class="table cols-md-12">
            <table id="tabel" class="display" style="width: 100%;">
              <thead>
                <tr>
                    <th>Username</th>
                    <th>Nama</th>
                    <th>Phone</th>
                    <th>Email</th> 
                    <th>Spesialis</th>
                    <th>String</th>
                    <th>Saldo</th>
                    <th>Status</th>
                    <th>Harga</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</body>
<script>
  $(document).ready(function () {
     $('#tabel').DataTable({
          "processing": true,
          "serverSide": false,
          "ajax": {
              "data": "json",
              "type": "GET",
              "url": "/dokter/read/table",
              dataSrc:""
          },
              "columns":
                  [
                      { "data": "username" },
                      { "data": "name" },
                      { "data": "telepon" },
                      { "data": "email" },
                      { "data": "spesialis" },
                      {
                          "data": null,
                          "bSortable": false,
                          "mRender": function (data, type, row) {
                              return '<a href=/dokter/surat/' + row.string + '><button type="button" class="btn btn-success">' + 'Link' + '</button></a>'; 
                          }
                      },
                      { "data": "saldo" },
                      { "data": "status" },
                      { "data": "harga" },
                      {
                          "data": null,
                          "bSortable": false,
                          "mRender": function (data, type, row) {
                              return '<a href=/dokter/update/' + row.username + '><button type="button" class="btn btn-primary">' + 'Edit' + '</button></a>   ' +
                                     '<a href=/dokter/delete/' + row.username + '><button type="button" class="btn btn-danger">' + 'Hapus' + '</button></a>'; 
                          }
                      }                       
                  ],
                    'columnDefs': [
                        {
                            "targets": 9, // your case first column
                            "className": "text-center"
                        }
                    ]
          
      });
  });
</script>
</html>