<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Admin | Create</title>
  </head>
<body>
  <br>
  <div class="container border">
    <hr><h1 class="text-center">Data Admin</h1><hr>
    <form action="/admin/form_create" method="POST">
      <div class="form-group col-md-6 offset-md-3">
        <label>Username</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="form-group col-md-6 offset-md-3">
        <label>Name</label>
        <input type="text" class="form-control" name="name">
      </div>
      <button type="submit" class="btn btn-primary col-md-2 offset-md-5">Simpan</button>
      <hr>
    </form>
  </div>
</body>
</html>